body {
    background: #1c2b2d;
    font-family: "poppins",sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, calc(85vw / 18));
    grid-template-rows: repeat(12, calc(85vw / 18));
    grid-gap: 8px;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
}

.periodic-group {
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
}

.periodic-group .periodic-group-inner {
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    transition: inherit;
}

.periodic-group .title {
    margin-top: 25px;
    font: 600 1.5vw"poppins",sans-serif;
    transition: 0.8s ease 600ms;
}

.periodic-group {
    cursor: pointer;
}
.group .title{
    background: #dddddd;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.periodic-element {
    padding: 0.25vw;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
    
}

.periodic-element .periodic-element-inner {
    background: #202e38;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    transition: inherit;
}

.periodic-element .title {
    font: 600 1.1vw "poppins",sans-serif;
    transition: 0.8s ease 600ms;
}

.periodic-element .desc{
    font: 700 1.5vw "poppins",sans-serif;
    margin: auto;
    
}
.selected-element {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    padding: calc(10%);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

.groups {
    grid-column: 7 / span 4;
    grid-row: 2 / span 2;
}

.groups-list {
    display: grid;
    gap: 0.5vw;
    grid-template-columns: repeat(3, 50%);
}

.groups-list > div {
    display: flex;
    gap: 0.25vw;
}

.groups-list .group {
    display: flex;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    align-items: center;
}

.group-name {
    color: #dddddd;
    font: 500 1vw "poppins",sans-serif;
}

.selected-element .title {
    font: 600 1.5vw "poppins",sans-serif;
    transition: 0.8s ease 600ms;
}
.selected-element .desc {
    font: 700 2.25vw "poppins",sans-serif;
    margin: auto;
}
.selected-element .name {
    font: 600 1vw "poppins",sans-serif;
    margin: auto;
}
.selected-element .config {
    font: 600 1vw "poppins",sans-serif;
    margin: auto;
}
.selected-element .mass {
    font: 600 1vw "poppins",sans-serif;
    margin: auto;
}



.periodic-element:hover {
    transform: scale(1.12);
    z-index: 10;
}

.periodic-element:hover .periodic-element-inner {
    background: transparent;
}

.periodic-element:hover .title, .periodic-element:hover .desc {
    -webkit-text-fill-color: #222;
}

.selected-element * {
    -webkit-text-fill-color: #222 !important;
}

.periodic-element:hover:after {
    top: 105%;
    opacity: 1;
}

.periodic-element {
    cursor: pointer;
}
.metal {
    background: linear-gradient(to bottom right,#fb8620 0%, #ffd30f 100%);
}

.metal .title , .metal .desc{
    background: -webkit-linear-gradient(#fb8620, #ffd30f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nonmetal {
    background: linear-gradient(to bottom right,#dc378a 0%, #ffa8f8 100%);
}

.nonmetal .title , .nonmetal .desc{
    background: -webkit-linear-gradient(#dc378a, #ffa8f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.alkali {
    background: linear-gradient(to bottom right,#37cfdc 0%, #5a88e5 100%);
}

.alkali .title , .alkali .desc{
    background: -webkit-linear-gradient(#37cfdc, #5a88e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.metalloid {
    background: linear-gradient(to bottom right,#f3f9a6 0%, #cbc634 100%);
}

.metalloid .title , .metalloid .desc{
    background: -webkit-linear-gradient(#f3f9a6, #cbc634);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.transition {
    background: linear-gradient(to bottom right,#fa7f72 0%, #ffc171 100%);
}

.transition .title , .transition .desc{
    background: -webkit-linear-gradient(#fa7f72, #ffc171);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.halogen {
    background: linear-gradient(to bottom right,#e693ff 0%, #fda1ee 100%);
}

.halogen .title , .halogen .desc{
    background: -webkit-linear-gradient(#e693ff, #fda1ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.noble {
    background: linear-gradient(to bottom right,#58ac30 0%, #a7df62 100%);
}

.noble .title , .noble .desc{
    background: -webkit-linear-gradient(#58ac30, #a7df62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.lanthanoid {
    background: linear-gradient(to bottom right,#2dd074 0%, #93ff99 100%);
}

.lanthanoid .title , .lanthanoid .desc{
    background: -webkit-linear-gradient(#2dd074, #93ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alkaline {
    background: linear-gradient(to bottom right,#2dd0b5 0%, #93ffdb 100%);
}

.alkaline .title , .alkaline .desc{
    background: -webkit-linear-gradient(#2dd0b5, #93ffdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.actinoid {
    background: linear-gradient(to bottom right,#b8d02d 0%, #dbff7f 100%);
}

.actinoid .title , .actinoid .desc{
    background: -webkit-linear-gradient(#b8d02d, #dbff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-transition {
    background: linear-gradient(to bottom right,#d04e2d 0%, #ffbb78 100%);
}

.post-transition .title , .post-transition .desc{
    background: -webkit-linear-gradient(#d04e2d, #ffbb78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    grid-row: 12;
    grid-column: 2 / span 16;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
}

.footer a {
    color: #dddddd;
}
