body {
    background: #1c2b2d;
    font-family: "poppins",sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

.details-modal {
    z-index: 50;
    background-color: #1c2b2de9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.details-modal .container {
    background-color: #222;
    max-width: 820px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding: 0 5vh !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.big-element {
    max-width: 10vw;
    max-height: 10vw;
    height: 100%;
    width: 100%;
}

.details-modal .container .header {
    display: flex;
    padding-top: 5vh;
}
.header-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 2.25vw "poppins",sans-serif;
    color: #ddd;
}



.close {
    position: fixed;
    top: 10vh;
    right: 10vh;
    fill: #ddd;
    cursor: pointer;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, calc(85vw / 18));
    grid-template-rows: repeat(12, calc(85vw / 18));
    grid-gap: 8px;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
}

.periodic-group {
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
}

.periodic-group .periodic-group-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: inherit;
}

.periodic-group .title {
    margin-top: 25px;
    font: 600 1.5vw"poppins",sans-serif;
    transition: 0.8s ease 600ms;
}
.group .title{
    background: #dddddd;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.periodic-element {
    padding: 0.25vw;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
    
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: calc(90% - 10vw - 10vh);
    max-width: 90%;
    row-gap: 2vh;
    column-gap: 5vh;
}

.detail-item {
    font: 500 1.1vw "poppins",sans-serif;
    color: #ddd;
}

.periodic-element .periodic-element-inner {
    background: #202e38;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    transition: inherit;
}

.periodic-element .title {
    font: 600 1.1vw "poppins",sans-serif;
    transition: 0.8s ease 600ms;
}

.periodic-element .desc{
    font: 700 1.5vw "poppins",sans-serif;
    margin: auto;
    
}
.selected-element {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    padding: calc(10%);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

.title-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

.see-more > svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
}

.groups {
    grid-column: 7 / span 4;
    grid-row: 2 / span 2;
}

.groups-list {
    display: grid;
    gap: 0.5vw;
    grid-template-columns: repeat(3, 50%);
}

.groups-list > div {
    display: flex;
    gap: 0.25vw;
}

.groups-list .group {
    display: flex;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    align-items: center;
}

.group-name {
    color: #dddddd;
    font: 500 1vw "poppins",sans-serif;
}

.selected-element .title {
    font: 600 1.5vw "poppins",sans-serif;
    transition: 0.8s ease 600ms;
}
.selected-element .desc {
    font: 700 2.25vw "poppins",sans-serif;
    margin: auto;
}
.selected-element .name {
    font: 600 1vw "poppins",sans-serif;
    margin: auto;
}
.selected-element .config {
    font: 600 1vw "poppins",sans-serif;
    margin: auto;
}
.selected-element .mass {
    font: 600 1vw "poppins",sans-serif;
    margin: auto;
}



.periodic-element:hover {
    transform: scale(1.12);
    z-index: 10;
}

.periodic-element:hover .periodic-element-inner {
    background: transparent;
}

.periodic-element:hover .title, .periodic-element:hover .desc {
    -webkit-text-fill-color: #222;
}

.selected-element * {
    -webkit-text-fill-color: #222 !important;
}

.periodic-element:hover:after {
    top: 105%;
    opacity: 1;
}

.periodic-element {
    cursor: pointer;
}
.metal {
    background: linear-gradient(to bottom right,#fb8620 0%, #ffd30f 100%);
}

.metal .title , .metal .desc{
    background: -webkit-linear-gradient(#fb8620, #ffd30f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ametal {
    background: linear-gradient(to bottom right,#dc378a 0%, #ffa8f8 100%);
}

.ametal .title , .ametal .desc{
    background: -webkit-linear-gradient(#dc378a, #ffa8f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.alkali {
    background: linear-gradient(to bottom right,#37cfdc 0%, #5a88e5 100%);
}

.alkali .title , .alkali .desc{
    background: -webkit-linear-gradient(#37cfdc, #5a88e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yarı {
    background: linear-gradient(to bottom right,#f3f9a6 0%, #cbc634 100%);
}

.yarı .title , .yarı .desc{
    background: -webkit-linear-gradient(#f3f9a6, #cbc634);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.geçiş {
    background: linear-gradient(to bottom right,#fa7f72 0%, #ffc171 100%);
}

.geçiş .title , .geçiş .desc{
    background: -webkit-linear-gradient(#fa7f72, #ffc171);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.halojen {
    background: linear-gradient(to bottom right,#e693ff 0%, #fda1ee 100%);
}

.halojen .title , .halojen .desc{
    background: -webkit-linear-gradient(#e693ff, #fda1ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.soy {
    background: linear-gradient(to bottom right,#58ac30 0%, #a7df62 100%);
}

.soy .title , .soy .desc{
    background: -webkit-linear-gradient(#58ac30, #a7df62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.lantanit {
    background: linear-gradient(to bottom right,#2dd074 0%, #93ff99 100%);
}

.lantanit .title , .lantanit .desc{
    background: -webkit-linear-gradient(#2dd074, #93ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.toprak {
    background: linear-gradient(to bottom right,#2dd0b5 0%, #93ffdb 100%);
}

.toprak .title , .toprak .desc{
    background: -webkit-linear-gradient(#2dd0b5, #93ffdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aktinit {
    background: linear-gradient(to bottom right,#b8d02d 0%, #dbff7f 100%);
}

.aktinit .title , .aktinit .desc{
    background: -webkit-linear-gradient(#b8d02d, #dbff7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sonrası {
    background: linear-gradient(to bottom right,#d04e2d 0%, #ffa852 100%);
}

.sonrası .title , .sonrası .desc{
    background: -webkit-linear-gradient(#d04e2d, #ffa852);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    grid-row: 12;
    grid-column: 2 / span 16;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
}

.footer a {
    color: #dddddd;
    text-decoration: underline;
}
